<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<div class="container mt-5 mb-3">
<%- include('../partials/flashMessages') -%>
<div class="alert alert-success" role="alert">
    The Participation was created successfuly
  </div>
</div>
<div class="mt-5">
<%- include('../partials/copyright') -%>
</div>
<%- include('../partials/footer') -%>